/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.background {
  background-image: url('/img/welcome/background.png');
  background-position: center 31px;
  background-repeat: no-repeat;
  background-size: 80%;
  transition: 0.1s;
}

html[data-theme='dark'] .background {
  background-image: url('/img/welcome/background-dark.png');
}

.heroBanner {
  padding: 40px 16px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBannerHeading {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--ifm-text-color);
}

.heroBannerSubHeading {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: var(--ifm-subtext-color);
}

.main {
  padding: 0 16px 40px;
}

.mascot {
  display: none;
}

@media only screen and (min-width: 996px) {
  .mascot {
    display: initial;
    position: fixed;
    right: 124px;
    bottom: 0;
  }
}

.alertBanner {
  background: linear-gradient(0deg, #E0F6F4, #E0F6F4),
  linear-gradient(0deg, #AEF3DF, #AEF3DF);  
  border-bottom: 1px solid #AEF3DF;
  padding: 8px 0px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  text-align: center;
}

html[data-theme='dark'] .alertBanner {
  background: #12573F;
  border: none;
}

html[data-theme='dark'] .link {
  color:#0BE094;
}

.link {
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
}

.pin {
  margin-right: 8px;
  font-size: 16px;
}
