@import "normalize.css";
@import "./font";

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1273ea;
  --ifm-color-primary-dark: #0666dc;
  --ifm-color-primary-darker: #0c50ab;
  --ifm-color-primary-darkest: #0d3c8d;
  --ifm-color-primary-light: #1c94f4;
  --ifm-color-primary-lighter: #68b8f8;
  --ifm-color-primary-lightest: #c4e3fb;
  --ifm-code-font-size: 95%;
  --ifm-text-color: #1d273d;
  --ifm-subtext-color: #57627b;
  --ifm-footer-background-color: #f5f8fc;

  --ifm-navbar-padding-vertical: 12px;
  --ifm-navbar-padding-horizontal: 32px;
  --ifm-navbar-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.05);
  --ifm-heading-font-weight: 600;
  --docusaurus-announcement-bar-height: auto!important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-color-primary: #1c94f4;
  --ifm-color-primary-dark: #0666dc;
  --ifm-color-primary-darker: #0c50ab;
  --ifm-color-primary-darkest: #0d3c8d;
  --ifm-color-primary-light: #1c94f4;
  --ifm-color-primary-lighter: #68b8f8;
  --ifm-color-primary-lightest: #c4e3fb;
  --ifm-text-color: #f0f4fa;
  --ifm-subtext-color: #aeb5c3;
  --ifm-background-surface-color: #141820;
  --ifm-footer-background-color: #222630;

  background-color: var(--ifm-background-surface-color);

  nav.navbar {
    box-shadow: 0 0 1px 1px #3d4354;
  }

  .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .toggleTrackThumb_node_modules-\@docusaurus-theme-classic-lib-next-theme-Toggle-styles-module {
    background-color: var(--ifm-background-surface-color);
  }
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

.toggleTrackThumb_node_modules-\@docusaurus-theme-classic-lib-next-theme-Toggle-styles-module {
  box-shadow: none !important;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.footer__title {
  margin-bottom: 16px;
}

.footer__links {
  margin-bottom: 60px;
}

.hidden {
  display: none !important;
  }

.theme-doc-markdown {
  p {
    line-height: 1.75rem;
  }
  pre code {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.navbar__search-input {
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem 0.5rem 2.25rem;
  height: 2.25rem;
}

@media (min-width: 997px) {
  nav.menu_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocSidebar-styles-module {
    padding: 1rem 1rem 4rem;
  }
}

.menu__link {
  line-height: 1.5rem;
  --ifm-menu-link-padding-vertical: 0.5rem;
  --ifm-menu-link-padding-horizontal: 0.5rem;
}

.menu__caret::before {
  margin-top: 0.125rem;
}

.menu__link--active {
  font-weight: 600;
}

.docMainContainer_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocPage-styles-module
  .container {
  padding: 1rem 2rem 2rem;
}

@media (max-width: 996px) {
  .navbar__toggle {
    margin-right: 1rem;
  }
}
