name: Editorial review
on: [pull_request]

jobs:
  vale:
    name: runner / vale
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: errata-ai/vale-action@reviewdog
        with:
          files: docs
          fail_on_error: true
    env:
      # Required
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
